/* assets/styles.css */

#main-tabs .tab-btn {
    border-top: 1px solid rgba(220,220,220,1);
    border-bottom: 1px solid rgba(220,220,220,1);
    background-color: rgba(220,220,220,1);
    color: rgba(0,0,0,1);
    padding: 10px;
    font-weight: bold;
}

#main-tabs .tab-btn--selected {
    border-top: 1px solid rgba(220,220,220,1);
    border-bottom: 1px solid rgba(220,220,220,1);
    background-color: rgba(116, 155, 194,1);
    color: rgba(255,255,255,1);
    padding: 10px;
    font-weight: bold;
}